h1{
	color: whitesmoke;
	font-size: 30px;
	text-align: center;
	background: palevioletred;
	text-shadow: 2px 2px blueviolet;
}
p{
	color: blueviolet;
}
a{
	text-decoration: none;
	color: palevioletred;
}